<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fmat.stayingalive.activity" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AndroidBasicStarter"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.fmat.stayingalive.mrnom.MrNomGame"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LifeCycleTestsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TouchTestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".MultiTouchTestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AssetsTestActivity"
            android:label="@string/title_activity_assets_test" >
        </activity>
        <activity
            android:name=".ExternalStorageTestActivity"
            android:label="@string/title_activity_external_storage_test" >
        </activity>
        <activity
            android:name=".KeyTestActivity"
            android:label="@string/title_activity_key_test" >
        </activity>
        <activity
            android:name=".AccelerometerTestActivity"
            android:label="@string/title_activity_key_test" >
        </activity>
        <activity
            android:name=".FullScreenTestActivity"
            android:label="@string/title_activity_full_test" >
        </activity>
        <activity
            android:name=".WakeLockTestActivity"
            android:label="@string/title_activity_wake_test" >
        </activity>
        <activity
            android:name=".RenderViewTestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ShapeTestActivity"
            android:label="@string/title_activity_shape_test" >
        </activity>
        <activity
            android:name=".BitmapTestActivity"
            android:label="@string/title_activity_bitmap_test" >
        </activity>
        <activity
            android:name=".SoundPoolTestActivity"
            android:label="@string/title_activity_sound_pool_test" >
        </activity>
        <activity
            android:name=".MediaPlayerTestActivity"
            android:label="@string/title_activity_media_player_test" >
        </activity>
        <activity
            android:name=".FontTestActivity"
            android:label="@string/title_activity_font_test" >
        </activity>
        <activity
            android:name=".SurfaceViewTestActivity"
            android:label="@string/title_activity_surface_view_test" >
        </activity>
    </application>

</manifest>
